.headerBody
{
    z-index: 5;
    user-select: none;
    height: 4rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.322);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000;
}

.menuIcon
{
    user-select: none;
    cursor: pointer;
    height: 1rem;
    overflow: hidden;
    font-size: 2rem;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-right: 3rem;
    position: relative;
}

.siteLogo
{
    user-select: none;
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 3rem;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.siteLogo span
{
    font-size: 2rem;
    font-weight: 400;
    color: var(--main_theme);
}

.headerMenu
{
    /* border: 1px green solid; */
    display: flex;
    align-items: center;
}

.stockistCreateTransaction
{
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
}


.stockistCreateTransaction button
{
    border: none;
    background-color: var(--main_theme);
    color: white;
    padding: 0.3rem 1rem;
    /* margin-right: 3rem; */
    font-size: 1.05rem;
    border-radius: 0.2rem;
    cursor: pointer;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432); */
    transition: background-color 0.2s ease;
}
.stockistCreateTransaction button:hover
{
    background-color: var(--main_theme_hover);
    transition: background-color 0.2s ease;
}

.adminNotificationIcon
{
    position: relative;
    cursor: pointer;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    transition: all 0.1s ease;
}
.adminNotificationIcon:hover
{
    background-color: var(--main_theme);
    color: white;
    transition: all 0.1s ease;
}

.notificationPopup
{
    min-height: 60%;
    min-width: 20%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 3rem;
    left: 65%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    /* right: 50%; */
}

.notificationPopupOff
{
    display: none;
}

.notificationPopupCloseBtn
{
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
}





/* responsive for  mobile */

@media (max-width : 1000px)
{
    .stockistCreateTransaction
    {
        display: none;
    }
}