.balanceTransferBody
{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    /* overflow: scroll; */
}

.balanceTransferBodyOff
{
    display: none;
}

.balanceTransferPopupBody
{
    height: 80%;
    /* border: 1px solid green; */
    width: 80%;
    background-color: #FFFBF5;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
}

.balanceTransferBodyClose > p
{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 1px black solid;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.balanceTransferTitle
{
    display: flex;
    align-items: center;
    /* border: 1px red solid; */
    height: 20%;
    font-size: 2rem;
}



.balanceTransferContent
{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 3%;
    /* border: 1px green solid; */
    min-height: calc(80% - 2% - 2%);
    width: calc(90% - 6% - 4%);
    border-radius: 0.6rem;
    background-color: #C3ACD0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.balanceTransferData
{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.balanceTransferData > input
{
    margin-top: 1rem;
    width: 50%;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease;
    background-color: #FFFBF5;
    border-radius: 0.6rem;
}
.balanceTransferData > input:focus,
.balanceTransferData > input:valid
{
    border-bottom: 2px solid #674188;
    transition: border-bottom 0.2s ease;
}

.balanceTransferCustomLabel
{
    background-color: #674188;
    width: max-content;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
}
.balanceTransferCustomLabel:hover
{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}

.balanceTransferData
{
    /* border: 1px red solid; */
    margin-bottom: 2rem;
}
.balanceTransferData > p
{
    margin-bottom: 1rem;
    font-weight: 500;
}
.balanceTransferData > label
{
    font-weight: 500;
}

.balanceTransferCommitTransaction
{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
}
.balanceTransferCommitTransaction > button
{
    font-weight: 400;
    cursor: pointer;
    background-color: #674188;
    color: white;
    border: none;
    outline: none;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
}

.balanceTransferCommitTransaction > button:hover
{
    background-color: white;
    color: black;
}


@media (max-width:800px){
    input
    {
        height: 10vw;
        border-radius: 0.6rem;
        font-size: 1.1rem;
    }
    .balanceTransferBodyClose p
    {
        width: 12%;
        height: 8%;
        font-size: 2.5rem;
        /* all: unset; */
        /* background-color: yellow; */
        border: 1px green solid;
    }
    .balanceTransferPopupBody
    {
        width: 100%;
    }

    .balanceTransferContent
    {
        width: 90%;
    }

    .balanceTransferData > input
    {
        width: calc(100% - 2rem);
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        border-bottom: 5px solid transparent;
        transition: border-bottom 0.2s ease;
        background-color: #FFFBF5;
    }
    .balanceTransferData > input:focus,
    .balanceTransferData > input:valid
    {
        border-bottom: 5px solid #674188;
    }


    .balanceTransferCommitTransaction > button
    {
        width: 90%;
        height: 100%;
    }
    .balanceTransferCommitTransaction
    {
        border: 1px red solid;
        display: flex;
        height: 15vw;
        justify-content: center;
    }

    .balanceTransferCommitTransaction > button
    {
        font-size: 1.5rem;
    }

    .balanceTransferCustomLabel
    {
        margin-bottom: 5vw;
    }
}