.adminBalanceTransferBody
{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    /* overflow: scroll; */
    z-index: 1;
   margin-top: 2rem;
}

.adminBalanceTransferBodyOff
{
    display: none;
    position: absolute;
    visibility: hidden;
    margin-top: -1000rem;
}

.adminBalanceTransferPopupBody
{
    height: 80%;
    
    /* border: 1px solid green; */
    width: 80%;
    background-color: #FFFBF5;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
}

.adminBalanceTransferBodyClose > p
{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 1px black solid;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}
.adminBalanceTransferBodyClose > p:hover
{
    transform: rotateY('180deg');
}

.adminBalanceTransferTitle
{
    display: flex;

    align-items: center;
    /* border: 1px red solid; */
    min-height: 100%;
    justify-content: center;
    background-color: var(--main_theme);
    font-size: 2rem;
    color: white;
    width: 100%;
}



.adminBalanceTransferContent
{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 3%;
    /* border: 1px green solid; */
    background-color: white;
    height: calc(100% - 8%);
    width: calc(100% - 6%);
    background-color: transparent;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content: space-around;
}

.adminBalanceTransferContentChild
{
    margin-top: 2%;
    height: max-content;
    width: 100%;
    /* border: 1px green solid; */
    /* background-color: green; */
}

.adminBalanceTransferData
{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.adminBalanceTransferLabel
{
    font-size: 1.1rem;
    font-weight: 400;
}

.adminBalanceTransferData > input
{
    /* margin-top: 1rem; */
    width: 60%;
    outline: none;
    border: none;
    height: 2rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease;
    background-color: #F7EFE5;
}
.adminBalanceTransferData > input:focus,
.adminBalanceTransferData > input:valid
{
    border-bottom: 2px solid var(--main_theme);
    transition: border-bottom 0.2s ease;
}

.adminBalanceTransferCustomLabel
{
    background-color: var(--main_theme);
    width: max-content;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
}
.adminBalanceTransferCustomLabel:hover
{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}

.adminBalanceTransferData
{
    /* border: 1px red solid; */
    margin-bottom: 2rem;
}
.adminBalanceTransferData > p
{
    font-weight: 500;
}

.adminBalanceTransferCommitTransaction
{
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
}
.adminBalanceTransferCommitTransaction > button
{
    font-weight: 400;
    cursor: pointer;
    background-color: var(--main_theme);
    color: white;
    border: none;
    outline: none;
    height: 3rem;
    margin-top: 0%;
    padding: 0 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.199);
}

.adminBalanceTransferCommitTransaction > button:hover
{
    background-color: white;
    color: black;
}



@media (max-width:1050px)
{
    .adminBalanceTransferBody
    {
        min-width: max-content;
        overflow: scroll;
        /* position: fixed; */
    }
    .adminBalanceTransferPopup
    {
        display: flex;
        flex-direction: column;
        height: 90%;
        /* border: 1px solid blue; */
    }
    
    .adminBalanceTransferForm
    {
        all: unset;
        /* border: 10px solid green; */
        min-width: max-content;
        height: 100%;
        overflow: scroll;
        display: flex;
        justify-content: center;
    }
    
    .adminBalanceTransferTitle
    {
        width: 100%;
        min-height: 10rem;
    }
}

@media (max-width:620px)
{
    .adminBalanceTransferPopup
    {
        width: 99%;
    }

    .adminBalanceTransferForm
    {
        width: 100%;
        /* border: 1px solid green; */
        display: flex;
        justify-content: center;
    }

    .adminBalanceTransferInnerForm
    {
        width: 100%;
        /* border: 1px red solid; */
        display: flex;
        /* justify-content: center; */
    }

    .adminBalanceTransferFormRow
    {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adminBalanceTransferFormInput
    {
        /* border: 1px solid green; */
        padding: 0 1rem;
        width: 90%;
    }
    .adminBalanceTransferCredentialTitle
    {
        /* border: 1px solid red; */
        
        width: calc(90% + 2rem);
    }

    .adminBalanceTransferPasswordRow
    {
        /* border: 1px green solid; */
        width: calc(90% + 2rem);
    }

    .adminBalanceTransferPasswordInput
    {
        width: calc(100% - 3rem);
    }

    .adminBalanceTransferCreateBtn
    {
        /* border: 1px solid green; */
        display: flex;
        justify-content: center;
    }
    .adminBalanceTransferCreateBtn > button
    {
        font-size: 1rem;
        width: 80%;
        /* border: 1px solid blue; */
    }
}