.categoryProductsBody
{
    height: 100%;
    width: 60%;
    background-color: white;
    margin-top: 2rem;

    /* border: 1px solid blue; */
}

.categoryProductsTitle
{
    /* border: 1px solid green; */
    font-weight: 400;
    font-size: 1.5rem;
}

.categoryProductsTable
{
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 2rem;
}

.categoryProductsTableName
{
    display: flex;
    justify-content: space-between;
    /* margin-right: 3.5rem; */
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: calc(100% - 4rem);
    /* border: 1px solid green; */
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.categoryProductsDetails
{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    /* border: 1px green solid; */
    height: 20rem;
    overflow: scroll;
    gap: 1rem;
}



.categoryProductDetails
{
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    height: 4rem;
    width: calc(100%);
    /* border: 1px solid red; */
    background-color: #d5ebf5;
    justify-content: space-between;
}



.categoryProductscategorySno,
.categoryProductDetailsSno
{
    width: 5%;
    /* border: 1px solid red; */
    display:flex;
    justify-content:center;
    align-items: center;
}


.categoryProductscategoryName,
.categoryProductDetailsName
{
    width: 60%;
    /* border: 1px solid blue; */
    display:flex;
    justify-content:center;
    align-items: center;
}


.categoryProductscategoryPriceType,
.categoryProductDetailsPriceType
{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 25%;
    /* border: 1px green solid; */
}

/* .categoryProductscategoryQuantity,
.productDetailsQuantity
{
    width: 6rem;
    display:flex;
    justify-content:center;
    align-items: center;
} */

/* .categoryProductscategoryPrice,
.productDetailsPrice
{
    margin-left: 0rem;
    width: 7rem;
    display:flex;
    justify-content:center;
    align-items: center;
} */


.categoryProductscategoryDiscount,
.categoryProductDetailsDiscount
{
    height: 2rem;
    width: 10%;
    /* border: 1px green solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.categoryProductDetailsDiscount > input
{
    width: 3rem;
    border: none;
    outline: none;
    padding: 0rem 0.5rem;
}



.categoryProductDetailsPriceType
{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2rem;
    height: 2rem;
    padding: 0 0.5rem;
    outline: none;
    cursor: pointer;
}

.categoryProductDetailsAddBtn
{
    width: 3rem;
    /* border: 1px solid red; */
    background-color: #ffffff00;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryProductDetailsAddBtn > button:hover
{
    cursor: pointer;
    background-color: var(--main_theme_hover);
}


.categoryProductDetailsAddBtn > button
{
    background-color: var(--main_theme);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
}
.categoryProductDetailsParent
{
    /* border: 1px solid blue; */
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    /* justify-content: space-between; */
}

.categoryProductsCategoryName
{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.categoryProductsCategoryPriceType
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    width: 30%;
}

.categoryProductsCategoryDiscount
{
    /* border: 1px solid green; */
    width: 20%;
}
.categoryDiscountInput
{
    width: 16%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    /* background-color: red; */
}

.categoryDiscountInput > input{
    width: 50%;
    border: none;
    padding: 0.5rem;
    outline: none;
    text-align: center;
}

.categoryProductTopDetails
{
    /* border: 1px solid red; */
    width: calc(100%);
    /* height: 5rem; */
}






@media (max-width:1000px)
{
    .categoryProductsBody
    {
        width: 100%;
    }

    .categoryProductsCategoryDiscount
    {
        display: flex;
        justify-content: center;

        /* border: 1px solid green; */
    }
}

@media (max-width:630px)
{
    .categoryProductsTableName
    {
        width: calc(100% - 1.5rem);
    }

    .categoryDiscountInput > input
    {
        width: 3rem;
    }

    .categoryProductscategoryName
    {
        width: 50%;
    }
    .categoryProductDetailsAddBtn
    {
        /* display: none; */
        background-color: #d5ebf5;
    }
    .categoryProductsBody
    {
        /* border: 1px solid green; */
        width: calc(100%);
    }
    .categoryProductDetails
    {
        width: 100%;
        /* border: 1px solid red; */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .categoryProductDetailsParent
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .categoryProductDetailsAddBtn
    {
        height: 3rem;
        /* border: 1px solid red; */
        width: 100%;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        display: flex;
        justify-content: end;

    }
    .categoryProductDetailsAddBtn > button
    {
        width: 30%;
        border-radius: 1rem;
        margin-right: 1rem;
    }

    .categoryProductTopDetails
    {
        border-bottom: 1px solid #3e4f57;
    }
}